@charset "utf-8";

html,
body,
div,
p,
form,
label,
ul,
li,
dl,
dt,
dd,
ol,
img,
button,
b,
em,
strong,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}

body {
    font-family: SimHei, 'Helvetica Neue', Arial, 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #333;
    background: #f2f2f2;
}

a,
a.link {
    color: #666;
    text-decoration: none;
    font-weight: 500;
}

a,
a.link:hover {
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/*头部开始*/
.header {
    position: relative;
    width: 100%;
    height: 44px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.header h1 {
    font-size: 16px;
    color: #333;
    height: 44px;
    line-height: 44px;
    display: block;
    text-align: center;
}

.header a {
    position: absolute;
    top: 0;
    display: block;
    height: 44px;
    line-height: 44px;
}

.header a.back {
    left: 0px;
}

.header a.back span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 10px 5px;
    background: no-repeat;
    background-size: 100%;
}

.header .home {}

/*头部结束*/

/*input[type="checkbox"]{-webkit-appearance:none;outline: none;}*/
input.check {
    background: no-repeat center left;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -18px;
    width: 20px;
    height: 35px;
}

input.check:checked {
    background:no-repeat center left;
    background-size: 20px 20px;
}

input.goodsCheck:checked {
    background:  no-repeat center left;
    background-size: 20px 20px;
}

input.check:checked {
    background:  no-repeat center left;
    background-size: 20px 20px;
}

.checked {
    background: no-repeat left center;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -18px;
    width: 20px;
    height: 35px;
}

@charset "utf-8";

/* CSS Document */
/*购物车*/
.shopping {
    clear: both;
    overflow: hidden;
    height: auto;
    padding-bottom: 60px;
}

.shop-group-item {
    margin-bottom: 5px;
}

.shop-group-item ul li {
    border-bottom: 1px solid #fff;
}

.shop-group-item ul li:last-child {
    border-bottom: none;
}

.shop-name {
    background: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    position: relative;
}

.shop-name h4 {
    float: left;
    font-size: 14px;
    background:  no-repeat left center;
    background-size: 20px 20px;
    padding-left: 25px;
    margin-left: 28px;
}

.shop-name .coupons {
    float: right;
}

.shop-name .coupons span {
    display: inline-block;
    padding: 0 5px;
}

.shop-name .coupons em {
    color: #e0e0e0;
}

.shop-info {
    background: #f5f5f5;
    height: 120px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.shop-info .checkbox {
    background:no-repeat left center;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -60px;
    width: 20px;
    height: 120px;
}

.shop-info .checkbox1 {
    background: no-repeat left center;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -60px;
    width: 20px;
    height: 120px;
}

.shop-info .shop-info-img {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 90px;
    height: 90px;
}

.shop-info .shop-info-img img {
    width: 100%;
    height: 100%;
}

.shop-info .shop-info-text {
    margin-left: 130px;
    padding: 15px 0;
    word-wrap:break-word;
}

.shop-info .shop-info-text h4 {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 40%;
    float: left;
}

.shop-info .shop-info-text .shop-brief {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #81838e;
    white-space: nowrap;
}

.shop-info .shop-info-text .shop-brief span {
    display: inline-block;
    margin-right: 8px;
}

.shop-info .shop-info-text .shop-price {
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 25%;
    float: left;
    margin-left: 4%;
}

.shop-info .shop-info-text .shop-price .shop-pices {
    color: red;
    font-size: 16px;
}
.shop-pices{
    position: static;
    width: 50%;
    text-align: center;
    float: left;
}
.shop-info .shop-info-text .shop-arithmetic {
    position: absolute;
    right: 0px;
    top: 0;
    width: 84px;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
    border: 1px solid #e0e0e0;
    float: left;
    margin-left: 10%;
}

.shop-info .shop-info-text .shop-arithmetic a {
    display: inline-block;
    width: 23px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #fff;
    font-size: 16px;
}

.shop-info .shop-info-text .shop-arithmetic .minus {
    border-right: 1px solid #e0e0e0;
    float: left;
}

.shop-info .shop-info-text .shop-arithmetic .failed {
    color: #d1d1d1;
}

.shop-info .shop-info-text .shop-arithmetic .plus {
    border-left: 1px solid #e0e0e0;
    float: right;
}

.shop-info .shop-info-text .shop-arithmetic .num {
    width: 32px;
    text-align: center;
    border: none;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 -6px;
}

.shopPrice {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-align: center;
    width: 20%;
    float: left;
}

.shopPrice span {
    color: #f00;
}

.shanchushangpin{
    height: 45px;
    line-height: 35px;
    padding: 0 15px;
    text-align: center;
    width: 10%;
    float: right;
    margin-right: 10px;
    white-space:nowrap;
}
.buttond {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.buttond:hover {
    text-decoration: none;
}
.buttond:active {
    position: relative;
    top: 1px;
}
.whited {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.whited:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.whited:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.payment-bar {
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 49px;
    line-height: 27px;
    position: relative;
    top: auto;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.payment-bar .all-checkbox {
    float: left;
    line-height: 49px;
    padding-left: 40px;
}

.payment-bar .shop-total {
    float: left;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    margin: 9px 20px 9px 35px;
}

.payment-bar .shop-total strong {
    display: block;
    font-size: 16px;
    margin-right: 130px;
}

.payment-bar .shop-total span {
    font-size: 12px;
}

.payment-bar .settlement {
    display: inline-block;
    float: right;
    width: 100px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #f23030;
}
.payment-bar .settlement1 {
    display: inline-block;
    width: 100px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: black;
    font-size: 16px;
    background: #fff;
}
